@import './base.css';
@import '/node_modules/flowbite-vue/dist/index.css';

#app {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #5BB7CC;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 36%, 0.233);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    max-width: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
